.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--z-tooltip);
  /* Removed mix-blend-mode: screen to make snow visible on white background */
}
